{{#partial "styles"}}
    <link rel="stylesheet" href="/css/about.css">
{{/partial}}

{{#partial "content"}}
    <div class="about-hero">
        <h2>AVENGERS ASSEMBLE!!!!</h2>

        {{#each heros}}
            <p><h3>Your hero's name {{name}}</h3></p>
            <p><h3>Your hero's age {{age}}</h3></p>
        {{/each}}

        <P>Ultimate Hero squad is an App that enables you to bring your Heroic desires and fantasies to reality</P>

        <p>You are in a position to pick and chose just about any hero of your liking and add them to your fantasy squad.</p>

        <p> Fill up your squad with your ultimate super heroes</p>

        <p> Since you know what the fuss is all about... Let's get you started </p>

    </div>
{{/partial}}

{{> homepage.hbs}}



