{{#partial "styles"}}

    <link rel='stylesheet' href='/css/squads.css'>

{{/partial}}

{{#partial "content"}}

    <h2>LIST OF SUPER HERO SQUADS</h2>


    {{#each squads}}

        <div class="card mb-3" id="hero">
            <div class="row">
                <div class="col-md-4">
                    <img id="hero_img" src="/images/jleague1.jpg">
                </div>
                <div class="col=md-8">
                    <div class="card-body">
                        <ul class="card-text">
                            <li><span>Name: </span>{{name}}</li>
                            <li><span>Max-size: </span>{{maxSize}}</li>
                            <li><span>Cause: </span>{{cause}}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>



    {{/each}}




{{/partial}}

{{> homepage.hbs}}